<html>

<head>
    <title>Test SSO with sample client</title>
</head>

<body style="overflow-wrap: break-word;word-break: break-word; padding:25px">
    <div>
        <h2>Test SSO with sample client</h2>
    </div>
    <div>
        <ul>
            <% if( token != null ) { %>
                <li><a href="/profile">Profile</a></li>
                <li><a href="/logout">Logout</a></li>
                <% } %>
                    <% if( token == null ) { %>
                        <li><a href="<%= loginUrl %>">Login | Register</a></li>
                        <% } %>
        </ul>
    </div>
</body>

</html>